<div class="max-w-[1200px] mx-auto text-white">

{{!-- Section Heading --}}
  <div class="flex items-center gap-8 py-16">
    <h2 class="text-white font-bold text-[72px]">Pick your trip</h2>
    <img src="/images/x.png" alt="">
    <p class="text-white w-[350px]">Our team put together some trips to you to discover,
      feel free to discover each of them.</p>
  </div>

  {{! Trips links }}
  <div class="relative flex justify-between items-center px-20 pb-2">
    {{#each trips}}
    <button class="trip-link text-lg transition text-gray-400" data-index="{{@index}}">
      {{this}}
    </button>
    {{/each}}
  </div>

  {{! Progress Bar }}
  <div class="relative w-full h-1 bg-terciary/25">
    <div id="progress-bar" class="absolute h-1 bg-terciary transition-all duration-300"></div>
  </div>

  {{! Contenido del viaje }}
  <div class="mt-4 text-center">
    <p id="trip-content" class="text-xl">Bienvenido a Chill Adventure</p>
  </div>
</div>

<script src="/js/trips.js"></script>