<div class="max-w-[1200px] mx-auto text-white">

  {{!-- Section Heading --}}
  <div class="flex items-center gap-8 py-16">
    <h2 class="text-white font-bold text-[72px]">Pick your trip</h2>
    <img src="/images/x.png" alt="">
    <p class="text-white w-[350px]">Our team put together some trips to you to discover,
      feel free to discover each of them.</p>
  </div>

  {{! Trips links }}
  <div class="relative flex justify-between items-center px-20 pb-2">
    {{#each trips}}
    <button class="trip-link text-lg transition text-gray-400" data-index="{{@index}}">
      {{this.title}}
    </button>
    {{/each}}
  </div>

  {{! Progress Bar }}
  <div class="relative w-full h-1 bg-terciary/25 mb-24">
    <div id="progress-bar" class="absolute h-[3px] bg-terciary transition-all duration-300"></div>
  </div>


  {{! Trip card }}
  <div class="text-center flex items-end justify-center gap-32 relative z-10">

    {{!-- Image --}}
    <div class="w-2/6 max-w-md aspect-[486/607]">
      <img id="trip-img" class="w-full h-full object-cover rounded-xl" src="{{trips.[0].imgUrl}}" alt="trip image">
    </div>

  {{!-- Description --}}
    <div class="space-y-16 flex flex-col items-start w-3/6">
      <h3 id="trip-heading" class="text-[65px] font-bold"></h3>
      <p id="trip-content" class="text-[17px] mt-2 max-w-[470px]"></p>
      <button class="bg-secondary uppercase w-[282px] h-[65px] py-4 rounded-full font-bold shadow-[0_10px_25px_rgba(34,211,238,0.25)]">See our latest offer</button>
    </div>

    {{!-- Socials --}}
    <div class="flex flex-col items-start gap-5 w-1/6">
      <div>
        <p class="uppercase font-bold">Share it:</p>
      </div>

      <div class="flex items-center gap-6 relative">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-instagram-icon lucide-instagram">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-facebook-icon lucide-facebook">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
          stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-twitter-icon lucide-twitter">
          <path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
        </svg>
      </div>

      <img src="/images/socials-line.png" alt="" class="absolute right-6 -bottom-6">

    </div>


    <img src="/images/Dots.png" alt="Dots image" class="absolute -left-14 -bottom-14 -z-10">
  </div>

  {{!-- About us section --}}

  <section class="mt-40">
    <h3>About us</h3>
  </section>

</div>

<script>
  window.trips = {{{json trips}}};
</script>
<script src="/js/trips.js"></script>
