<img 
  src="/images/bg-lights.webp" 
  alt="" 
  class="absolute top-[50rem] left-0 right-0 w-full h-auto" 
  loading="lazy"
>

<div class="container mx-auto text-white ">

  <div class="absolute inset-0 z-0">
    <img src="/images/header-image.webp" alt="Background" class="w-full h-full object-cover header-fade" loading="lazy">
  </div>

  {{!-- Header --}}
  <div class="relative h-screen overflow-hidden">

    <div
      class="text-center space-y-6 relative z-10 -mt-28 xl:-mt-28 2xl:-mt-52 h-full flex flex-col justify-center items-center">
      <h1 class="font-bold text-white">Night Trips</h1>
      <h2 class="text-base text-white uppercase -tracking-[-0.1em] font-bold">We got trips for the trippster in you</h2>
      <p class="text-white text-center max-w-xl mx-auto">Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut
        venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a
        viverra
        leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.</p>
    </div>

    <div class=" flex justify-between -mt-36 md:-mt-52 xl:-mt-56 2xl:-mt-32 mr-8">
      <div class="flex flex-col items-center justify-center">
        <p class="vertical-scroll-text uppercase text-white text-sm tracking-wider">
          Scroll
        </p>
        <div class="mt-2 h-16 w-[2px] bg-cyan-400"></div>
      </div>

      <div class="flex flex-col gap-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-twitter-icon lucide-twitter">
          <path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-instagram-icon lucide-instagram">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-facebook-icon lucide-facebook">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
        </svg>
      </div>
    </div>
  </div>

  {{!-- Trips --}}
  <section class="relative min-w-screen overflow-x-visible">
    <div class="flex items-center gap-8 md:px-12 py-16 relative overflow-hidden">
      <h2 class="text-white font-bold text-[72px]">Pick your trip</h2>
      <img src="/images/X.webp" alt="Division X">
      <p class="text-white w-[350px]">Our team put together some trips to you to discover,
        feel free to discover each of them.</p>
    </div>

    <div class="relative flex justify-between items-center px-4 md:px-12 2xl:px-20 pb-2">
      {{#each trips}}
      <button class="trip-link text-lg transition text-gray-400" data-index="{{@index}}">
        {{this.title}}
      </button>
      {{/each}}
    </div>

    {{! Progress Bar }}
    <div class="relative w-full h-1 bg-terciary/25 mb-24">
      <div id="progress-bar" class="absolute h-[3px] bg-terciary transition-all duration-300"></div>
    </div>


    {{! Trip card }}
    <div class="text-center md:flex md:items-start xl:items-end justify-center gap-32 relative z-10 md:px-6 xl:px-0 ">

      {{!-- Image --}}
      <div class="md:w-1/2 max-w-md aspect-[486/607]">
        <img id="trip-img" class="w-full h-full object-cover rounded-xl" src="{{trips.[0].imgUrl}}" alt="Trip destiny">
      </div>

      {{!-- Description --}}
      <div class="space-y-4 md:space-y-16 flex flex-col items-center md:items-start md:w-1/2 pb-16">
        <h3 id="trip-heading" class="font-bold mt-8 md:mt-0"></h3>
        <p id="trip-content" class="max-w-[470px]"></p>
        <button
          class="relative bg-secondary uppercase w-[282px] h-[65px] py-4 rounded-full font-bold shadow-[0_10px_25px_rgba(34,211,238,0.25)] menu-button text-slate-900">See
          our latest offer</button>
      </div>

      <div class="hidden absolute md:flex flex-col items-start md:top-[10rem] xl:top-[14rem] md:left-0 xl:-left-8 2xl:left-0 text-2xl">
        <img src="/images/GimmickLine.webp" alt="">
        <p id="trip-id" class="font-bold text-secondary mb-2"></p>
        <p id="trip-snippet" class="uppercase font-bold tracking-widest"></p>
      </div>

      {{!-- Socials --}}
      <div class="hidden absolute right-4 xl:flex flex-col items-start gap-5">
        <div>
          <p class="uppercase font-bold">Share it:</p>
        </div>
        <div class="flex items-center gap-6 relative">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-facebook-icon lucide-facebook">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-twitter-icon lucide-twitter">
            <path
              d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
          </svg>
        </div>
        <img src="/images/socials-line.webp" alt="Socials underline" class="absolute -right-3 -bottom-6">
      </div>
      <img src="/images/Dots.webp" alt="Dots" class="absolute hidden xl:block xl:-left-7 2xl:left-7 xl:-bottom-14 2xl:-bottom-14 -z-10">
    </div>
  </section>


  {{!-- About us --}}
  <section class="relative md:mt-8 xl:mt-72 md:flex items-center justify-center gap-8 px-4 xl:px-0">

    <div class="hidden xl:flex absolute xl:left-[25rem] 2xl:left-[34rem] top-[17rem] bg-white p-6 rounded-md font-bold z-20">
      <p class="uppercase text-black">Martin Jack, <span class="text-cyan-600">CEO</span></p>
    </div>
    <div class="relative z-10 xl:mt-[-20rem]">
      <h3 class="text-[72px] ">About us</h3>

      <div class="space-y-6 max-w-sm xl:mr-12">
        <p class="font-bold">We’re a team of four passioned people.</p>
        <p> We’re ready to take the world by storm and
          let you find new travel opportunities.</p>
        <p> Our everyday task is to make sure that you satisfied with the services and products that we provide.</p>
        <p class="font-bold">With 💖 from Amsterdam, Netherlands.</p>
      </div>

      <button
        class="relative bg-secondary uppercase w-[282px] h-[65px] py-4 rounded-full font-bold shadow-[0_10px_25px_rgba(34,211,238,0.25)] mt-12 menu-button mb-8 md:mb-0 text-slate-900">Read
        more about us
      </button>
    </div>

    <div class="grid grid-cols-2 relative z-10">
      <div>
        <img src="/images/1.webp" alt="">
      </div>
      <div>
        <img src="/images/2.webp" alt="">
      </div>
      <div>
        <img src="/images/3.webp" alt="">
      </div>
      <div>
        <img src="/images/4.webp" alt="">
      </div>
    </div>

    <div class="hidden xl:block absolute xl:-right-16 2xl:right-12">
      <img src="/images/Dots2.webp" alt="Dots Pattern" class="relative z-10">
    </div>

  </section>


  {{!-- Testimonials  --}}
  <section class="mt-24 py-24 md:px-12 relative z-10 bg-custom-blue">
    <img src="/images/DivisionLine.webp" alt="Division Line" class="absolute left-1/2 -translate-x-1/2 -top-8 ">
    <h3 class="text-7xl font-bold text-center">People's thoughts</h3>
    <p class="text-xl text-center mt-8">See what others are saying</p>

    <div class="grid grid-cols-1 xl:grid-cols-2 gap-6 mt-16 leading-loose relative">
      <div class=" bg-[#02223B] p-6 md:p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6 md:max-w-sm">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu
            sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.webp" alt="">
            <div>
              <h4 class="uppercase font-bold">Judy Roseless</h4>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}
      <div class=" bg-[#02223B] p-6 md:p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6x md:max-w-sm">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu
            sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.webp" alt="">
            <div>
              <h4 class="uppercase font-bold">Judy Roseless</h4>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}

      <div class=" bg-[#02223B] p-6 md:p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6x md:max-w-sm">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu
            sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.webp" alt="">
            <div>
              <h4 class="uppercase font-bold">Judy Roseless</h4>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}

      <div class=" bg-[#02223B] p-6 md:p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6x md:max-w-sm">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu
            sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.webp" alt="">
            <div>
              <h4 class="uppercase font-bold">Judy Roseless</h4>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}

  </section>

  {{!-- Pre Footer --}}
  <section class="flex flex-col items-center">
    <h3 class="text-center font-bold text-7xl mb-8">See you soon!</h3>
    <p class="text-center font-bold text-2xl">We hope we meet each other <br /> very soon.</p>
    <img src="/images/DivisionLine.webp" alt="" class="mt-24">
  </section>
</div>


<script>
  window.trips = {{{json trips}}};
</script>
<script src="/js/trips.js"></script>
