<img src="/images/bg-lights.png" alt="" class="absolute top-[60rem] left-0 right-0 w-full h-auto">
<div class="max-w-[1200px] mx-auto text-white ">


  {{!-- Main Content --}}
  <main class="relative min-w-screen overflow-x-visible">

    <div class="flex items-center gap-8 py-16 relative overflow-hidden">
      <h2 class="text-white font-bold text-[72px]">Pick your trip</h2>
      <img src="/images/x.png" alt="Division X">
      <p class="text-white w-[350px]">Our team put together some trips to you to discover,
        feel free to discover each of them.</p>
    </div>

    {{! Trips links }}
    <div class="relative flex justify-between items-center px-20 pb-2">
      {{#each trips}}
      <button class="trip-link text-lg transition text-gray-400" data-index="{{@index}}">
        {{this.title}}
      </button>
      {{/each}}
    </div>

    {{! Progress Bar }}
    <div class="relative w-full h-1 bg-terciary/25 mb-24">
      <div id="progress-bar" class="absolute h-[3px] bg-terciary transition-all duration-300"></div>
    </div>


    {{! Trip card }}
    <div class="text-center flex items-end justify-center gap-32 relative z-10">

      {{!-- Image --}}
      <div class="w-1/2 max-w-md aspect-[486/607]">
        <img id="trip-img" class="w-full h-full object-cover rounded-xl" src="{{trips.[0].imgUrl}}" alt="Trip destiny">
      </div>

      {{!-- Description --}}
      <div class="space-y-16 flex flex-col items-start w-1/2 pb-16">
        <h3 id="trip-heading" class="text-[65px] font-bold"></h3>
        <p id="trip-content" class="text-[17px] mt-2 max-w-[470px]"></p>
        <button
          class="bg-secondary uppercase w-[282px] h-[65px] py-4 rounded-full font-bold shadow-[0_10px_25px_rgba(34,211,238,0.25)]">See
          our latest offer</button>
      </div>

      {{!-- Socials --}}
      <div class="absolute -right-28 flex flex-col items-start gap-5">
        <div>
          <p class="uppercase font-bold">Share it:</p>
        </div>

        <div class="flex items-center gap-6 relative">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-facebook-icon lucide-facebook">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-twitter-icon lucide-twitter">
            <path
              d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
          </svg>
        </div>

        <img src="/images/socials-line.png" alt="Socials underline" class="absolute -right-3 -bottom-6">

      </div>

      <img src="/images/Dots.png" alt="Dots" class="absolute -left-11 -bottom-14 -z-10">
    </div>
  </main>
  {{!-- End Main Content --}}

  {{!-- About us section --}}
  <section class="relative mt-72 flex items-center justify-center gap-8">
    {{!-- Text Content --}}
    <div class="relative z-10">
      <h3 class="text-[72px] ">About us</h3>

      <div class="space-y-6 max-w-sm">
        <p class="font-bold">We’re a team of four passioned people.</p>
        <p> We’re ready to take the world by storm and
          let you find new travel opportunities.</p>
        <p> Our everyday task is to make sure that you satisfied with the services and products that we provide.</p>
        <p class="font-bold">With 💖 from Amsterdam, Netherlands.</p>
      </div>

      <button
        class="bg-secondary uppercase w-[282px] h-[65px] py-4 rounded-full font-bold shadow-[0_10px_25px_rgba(34,211,238,0.25)] mt-12">Read
        more about us
      </button>

    </div>

    {{!-- Images --}}
    <div class="grid grid-cols-2 relative z-10">
      <div>
        <img src="/images/1.png" alt="">
      </div>
      <div>
        <img src="/images/2.png" alt="">
      </div>
      <div>
        <img src="/images/3.png" alt="">
      </div>
      <div>
        <img src="/images/4.png" alt="">
      </div>
    </div>

    <div class="absolute -right-20">
      <img src="/images/Dots2.png" alt="Dots Pattern" class="relative z-10">
    </div>

  </section>

  {{!-- <img 
    src="/images/bgimage.png" 
    alt="Mountain Background" 
    class="absolute top-[130rem] w-full h-[1600px] object-cover left-0 z-[5] header-fade" 
  /> --}}

  {{!-- Testimonials Section --}}
  <section class="mt-24 py-24 px-12 relative z-10 bg-custom-blue">
    <h3 class="text-7xl font-bold text-center">People's thoughts</h3>
    <p class="text-xl text-center mt-8">See what others are saying</p>
  
    <div class="grid grid-cols-2 gap-6  mt-16 leading-loose relative">
      <div class=" bg-[#02223B] p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6 max-w-xs">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.png" alt="">
            <div>
              <h5 class="uppercase font-bold">Judy Roseless</h5>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}
      <div class=" bg-[#02223B] p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6 max-w-xs">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.png" alt="">
            <div>
              <h5 class="uppercase font-bold">Judy Roseless</h5>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}
      
      <div class=" bg-[#02223B] p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6 max-w-xs">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.png" alt="">
            <div>
              <h5 class="uppercase font-bold">Judy Roseless</h5>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}

      <div class=" bg-[#02223B] p-20 rounded-md flex items-center justify-center">
        <div class="space-y-6 max-w-xs">
          <p class="font-bold">Elementum mi felis, sit velit lobortis ultricies non. Mattis enim, nisl</p>
          <p class="text-slate-300">adipiscing natoque diam et. Cum posuere in velit massa sagittis augue egestas. Eu sollicitudin et quam eu.
            Nunc, sed imperdiet blandit morbi. Maecenas lobortis tristique rutrum.</p>
          <div class="flex gap-6 items-center">
            <img src="/images/quote.png" alt="">
            <div>
              <h5 class="uppercase font-bold">Judy Roseless</h5>
              <p class="uppercase font-bold">Marketing head at Rom</p>
            </div>
          </div>
        </div>
      </div> {{!-- End Quote --}}

  </section>

  {{!-- Pre Footer --}}
  <section class="flex flex-col items-center">
    <h3 class="text-center font-bold text-7xl mb-8">See you soon!</h3>
    <p class="text-center font-bold text-2xl">We hope we meet each other <br/> very soon.</p>
    <img src="/images/DivisionLine.png" alt="" class="mt-24">
  </section>

</div>


<script>
  window.trips = {{{json trips}}};
</script>
<script src="/js/trips.js"></script>
