<div class="text-center space-y-6">
  <div class="fixed inset-0 -z-50 w-screen h-screen">
    <img src="/images/header-image.png" alt="Background" class="w-full h-full object-cover">
  </div>
  <h1 class="text-[120px] font-bold text-white mt-12">Night Trips</h1>
  <h2 class="text-base text-white uppercase -tracking-[-0.1em] font-bold">We got trips for the trippster in you</h2>
  <p class="text-white text-center w-[643px] mx-auto">Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut
    venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a viverra
    leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.</p>
</div>