@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  font-size: 100%; 
  line-height: 1.5;
  color: #1a1a1a;
}

h1, h2, h3, h4 {
  margin: 0 0 0.5em;
  line-height: 1.2;
}

p {
  margin: 0 0 1em;
  max-width: 65ch;
}

/* Headings Mobile */
h1 {
  font-size: 2rem; /* 32px */
  font-weight: 700;
}

h2 {
  font-size: 1.5rem; /* 24px */
  font-weight: 600;
}

h3 {
  font-size: 1.25rem; /* 20px */
  font-weight: 500;
}

h4 {
  font-size: 1.125rem; /* 18px */
  font-weight: 500;
}

p {
  font-size: 1rem; /* 16px */
}

/* ========== MEDIA QUERIES ========== */

/* Tablets ≥ 768px */
@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem; /* 40px */
  }
  h2 {
    font-size: 2rem; /* 32px */
  }
  h3 {
    font-size: 1.5rem; /* 24px */
  }
  h4 {
    font-size: 1.25rem; /* 20px */
  }
  p {
    font-size: 1.0625rem; /* 17px */
  }
}

/* Desktops ≥ 1024px */
@media (min-width: 1024px) {
  h1 {
    font-size: 4rem; /* 48px */
  }
  h2 {
    font-size: 2.25rem; /* 36px */
  }
  h3 {
    font-size: 1.75rem; /* 28px */
  }
  h4 {
    font-size: 1.5rem; /* 24px */
  }
  p {
    font-size: 1.125rem; /* 18px */
  }
}

/* #trip-content {
  margin-top: 12px !important;
} */


.header-fade {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.vertical-scroll-text {
  transform: rotate(270deg);
  margin-bottom: 20px;
}

.menu-button::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -17px;
  transform: translateY(-50%);
  width: 36px;
  height: 2px;
  background-color: white;
}
