<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/output.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <title>{{title}}</title>
</head>

<body class="bg-custom-blue text-gray-800 font-playfair">

  <div class="relative h-screen overflow-hidden">
    <div class="absolute inset-0 -z-10">
      <img src="/images/header-image.png" alt="Background" class="w-full h-full object-cover header-fade">
    </div>

    <header class="container mx-auto md:flex justify-between px-4 relative z-10 mt-12">
      <div class="md:w-[58px] md:h-[68px]">
        <img src="/images/Logo.png" alt="Trip Agency Logo" class="w-full h-auto">
      </div>
      <div class="flex justify-between items-center gap-6">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#ffffff"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <circle cx="11" cy="11" r="8" />
          <path d="m21 21-4.3-4.3" />
        </svg>
        <button
          class="menu-button relative bg-secondary w-[167px] h-[62px] rounded-full uppercase text-white font-bold text-lg shadow-[0_10px_25px_rgba(34,211,238,0.25)]">
          Menu
        </button>
      </div>
    </header>

    <div
      class="text-center space-y-6 relative z-10 xl:-mt-[100px] 2xl:-mt-[200px] h-full flex flex-col justify-center items-center">
      <h1 class="text-[120px] font-bold text-white">Night Trips</h1>
      <h2 class="text-base text-white uppercase -tracking-[-0.1em] font-bold">We got trips for the trippster in you</h2>
      <p class="text-white text-center w-[643px] mx-auto">Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut
        venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a
        viverra
        leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.</p>
    </div>

    <div class="flex justify-between px-32 -mt-32">
      <div class="flex flex-col items-center justify-center">
        <p class="vertical-scroll-text uppercase text-white text-sm tracking-wider">
          Scroll
        </p>
        <div class="mt-2 h-16 w-[2px] bg-cyan-400"></div>
      </div>

      <div class="flex flex-col gap-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-twitter-icon lucide-twitter">
          <path
            d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-instagram-icon lucide-instagram">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
          <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
          <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#41EAD4"
          stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
          class="lucide lucide-facebook-icon lucide-facebook">
          <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
        </svg>
      </div>
    </div>
  </div>

  <main class="container mx-auto px-4 bg-custom-blue">
    {{{body}}}
  </main>

  <footer class="flex flex-col bg-custom-blue mb-[60px] mt-16 tracking-wider">
    <div class="flex justify-center gap-[130px]">
      <div class="flex flex-col space-y-5 text-white">
        <a href="" class="uppercase text-white font-bold">About</a>
        <img src="/images/Divider.png" alt="Divider line" class="max-w-16">
        <a href="#">Our Mission</a>
        <a href="#">Terms</a>
        <a href="#">Copyrights</a>
      </div>

      <div class="flex flex-col space-y-5 text-white">
        <a href="" class="uppercase text-white font-bold">Faq</a>
        <img src="/images/Divider.png" alt="Divider line" class="max-w-16">
        <a href="#">Rules</a>
        <a href="#">Tickets</a>
        <a href="#">Editions</a>
        <a href="#">Contribute</a>
      </div>

      <div class="flex flex-col space-y-5 text-white">
        <a href="" class="uppercase text-white font-bold">Events</a>
        <img src="/images/Divider.png" alt="Divider line" class="max-w-16">
        <a href="#">Star Gazing</a>
        <a href="#">Desert Mania</a>
        <a href="#">Dunes Madness</a>
        <a href="#">Spooky Land</a>
      </div>

      <div class="flex flex-col space-y-5 text-white">
        <a href="" class="uppercase text-white font-bold">Contact us</a>
        <img src="/images/Divider.png" alt="Divider line" class="max-w-16">
        <a href="#">hello@example.com</a><a href="#">(405) 555-0128</a><a href="#">(252) 555-0126</a>
      </div>

      <div class="flex flex-col space-y-5 text-white">
        <a href="" class="uppercase text-white font-bold">Follow us</a>
        <img src="/images/Divider.png" alt="Divider line" class="max-w-16">

        <div class="flex gap-4 items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-instagram-icon lucide-instagram">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5" />
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z" />
            <line x1="17.5" x2="17.51" y1="6.5" y2="6.5" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-facebook-icon lucide-facebook">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="#41EAD4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="lucide lucide-twitter-icon lucide-twitter">
            <path
              d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z" />
          </svg>
        </div>
      </div>
    </div>

    {{!-- Copyright and Logo --}}
    <div class="flex flex-col items-center mt-20">
      <p class="text-center text-white mb-8">Copyright © Night Trips 2019. All rights reserved.</p>
      <img src="/images/Logo.png" alt="Company Logo">
    </div>
  </footer>


</body>

</html>